PORT=3005
DATABASE_URL="file:./dev.db"
JWT_SECRET="ton_access_token_secret_tres_long"
JWT_REFRESH_SECRET="ton_refresh_token_secret_encore_plus_long"
ALLOWED_ORIGINS="http://localhost:3000,http://localhost:3005"
NODE_ENV=development